html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'EB Garamond', serif;
  margin: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 30em) {
  body {
    height: 90%; /* TODO this is a hack :( */
  }
}

a, a:hover, a:active, a:visited {
  text-decoration: none;
  color: #1699a9;
}

p, h1 {
  margin: 0;
}

.container {
  max-width: 800px;
  margin: auto;
  margin-top: 3em;
  width: 80%;
  height: 100%;
}
@media (max-width: 30em) {
  .container {
    height: 80%; /* TODO this is a hack :( */
  }
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: .8rem;
}

.title {
  font-size: 2.1rem;
  letter-spacing: 1rem;
}

@media (max-width: 30em) {
  .title {
    font-size: 1.2rem;
  }
}

.subtitle {
  margin-left: 16px;
  margin-top: .7rem;
  line-height: 2.1rem;
}

.nav {
  margin-bottom: 1.2rem;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav li {
  display: inline-block;
  margin-right: 2rem;
}

.nav li.nav-current {
  font-weight: bold;
}

.nav a {
  color: #1699a9;
}

.content {
  border: 1px solid black;
  padding: 48px;
  position: relative;
  box-sizing: border-box;
}

.content:before {
  content: ' ';
  position: absolute;
  z-index: -1;
  top: 4px;
  left: -6px;
  right: -6px;
  bottom: 4px;
  border: 1px solid black;
}

.content p {
  margin-top: 1em;
}

.content p:first-child {
  margin-top: 0;
}

/* Project page styles
 * ************************************/

.project-list {
  display: flex;
  justify-content: space-evenly;
}

.project-title {
  text-align: center;
  margin-top: .5em;
}
