html {
  width: 100%;
}

body {
  font-family: 'EB Garamond', serif;
  margin: 0;
  width: 100%;
}

a, a:hover, a:active, a:visited {
  text-decoration: none;
  color: #1699a9;
}

.container {
  width: 80%;
  max-width: 80px;
  margin-top: 3em;
}

.title {
  font-size: 2.1rem;
  letter-spacing: 1rem;
  margin-bottom: 2rem;
}

@media (max-width: 30em) {
  .title {
    font-size: 1.2rem;
  }
}

.header {
  display: flex;
  justify-content: space-between;
}

.nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.nav li {
  display: inline-block;
  margin-left: 2rem;
}

.nav a {
  color: #1699a9;
}

.content {
  padding: 6px;
  box-sizing: border-box;
}

.bordered-content {
  border: 1px solid black;
  padding: 16px;
  position: relative;
}

.bordered-content:before {
  content: ' ';
  position: absolute;
  z-index: -1;
  top: 4px;
  left: -6px;
  right: -6px;
  bottom: 4px;
  border: 1px solid black;
}
